.Section {
    border: 1px solid black;
    display: flex;
}

.Section__header {
    max-width: 100%;
    padding: 20px;
}

.Dropdown {
    border: 2px solid black;
    width: 80px;
    height: 25px;
    text-align: center;
    padding: 10px;
}

.Section__header-content {
    font-size: 40px;
    font-weight: bold;
    margin-left: 520px;
}

/* .Section__flex {
    max-width: 100%;
    display: flex;
} */

.Section__content {
    padding: 20px;
}