.Section {
    border: 2px solid black;
}

.Section__header {
    display: flex;
    max-width: 100%;
    padding: 20px;
    /* justify-content: center; */
}

.Dropdown {
    border: 2px solid black;
    width: 80px;
    height: 25px;
    text-align: center;
    padding: 10px;
}

.Section__header-content {
    border: 2px solid red;
    font-size: 40px;
    font-weight: bold;
}

.Section__flex {
    max-width: 100%;
    display: flex;
}

.Section__content {
    padding: 20px;
}